# Classification with Decision Tree
Here in this program we are going to use Decision tree algorithm to predict whether the salary of an individual is <50000 or >=50000 we are going to use sklearn library for applying algorithm we will be using pandas library to create dataframe from dataset

In the cell below we have imported pandas for dataset and dataframe manipulation

In [1]:
import pandas as pd

importing dataset with the help of pandas

In [2]:
dataset = pd.read_csv('income_evaluation.csv')

In [3]:
dataset.head()
#this shows first five rows of dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Here we are selecting features and labels from dataset

In [4]:
X = dataset.iloc[:,0:14].values
y = dataset.iloc[:, 14].values

We have taken 14 parameter as features for classifying and taken last column as label above

In [5]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelEncoder_x=LabelEncoder()
labelEncoder_y=LabelEncoder()
# print x before applying label encoder
print(X)

[[39 ' State-gov' 77516 ... 0 40 ' United-States']
 [50 ' Self-emp-not-inc' 83311 ... 0 13 ' United-States']
 [38 ' Private' 215646 ... 0 40 ' United-States']
 ...
 [58 ' Private' 151910 ... 0 40 ' United-States']
 [22 ' Private' 201490 ... 0 20 ' United-States']
 [52 ' Self-emp-inc' 287927 ... 0 40 ' United-States']]

Now we can see some of the column contain categorical data we need to convert it into quantitative data for that purpose we use 
LabelEncoder from sklearn preprocessing and its fit_transform method

In [6]:
X[:,1]=labelEncoder_x.fit_transform(X[:,1])
X[:,3]=labelEncoder_x.fit_transform(X[:,2])
X[:,5]=labelEncoder_x.fit_transform(X[:,5])
X[:,6]=labelEncoder_x.fit_transform(X[:,6])
X[:,7]=labelEncoder_x.fit_transform(X[:,7])
X[:,8]=labelEncoder_x.fit_transform(X[:,8])
X[:,9]=labelEncoder_x.fit_transform(X[:,9])
X[:,13]=labelEncoder_x.fit_transform(X[:,13])
y=labelEncoder_y.fit_transform(y)

In [7]:
# printing x and y after applying label encoder
print(X,y)

[[39 7 77516 ... 0 40 39]
 [50 6 83311 ... 0 13 39]
 [38 4 215646 ... 0 40 39]
 ...
 [58 4 151910 ... 0 40 39]
 [22 4 201490 ... 0 20 39]
 [52 5 287927 ... 0 40 39]] [0 0 0 ... 0 0 1]

Many machine learning algorithms perform better or converge faster when 
features are on a relatively similar scale and/or close to normally distributed. but we can see the ranges in column varies
so we need to normalize the data so that we can get better results for that we are using StandardScaler for sklearn preprocessing

In [8]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

Now we have data in perfect shape to be feed to the algorithm now we will split data into test and train set 
so that we can evaluate the performance of algorithm for that we use train_test_split and we have taken
test size as 0.2 which means 20% dataset will be used and random_state is 0 so that every time we run the program results 
should be same otherwise different 20% chunk of dataset will be taken and result will be different on every run

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

below we have applied Decision Tree algorithm with defaults settings on training data and fit the classifier on that data now we will use for prediction using predict method

In [10]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier.fit(X_train,y_train)
y_pred=classifier.predict(X_test)

Now we have y_test which belongs to original dataset and y_pred is prediction that our classifier made, we will use 
both of them to evaluate our classifier here we have used 4 evaluation parameter accuracy confusion matrix precision and recall

In [11]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("confusion matrix")
print(cm)
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
print('Accuracy is {} '.format(accuracy_score(y_test, y_pred)))
print('Precision is {} '.format(precision_score(y_test, y_pred)))
print('Recall is {} '.format(recall_score(y_test, y_pred)))

confusion matrix
[[4296  622]
 [ 635  960]]
Accuracy is 0.8070013818516812
Precision is 0.606826801517067
Recall is 0.6018808777429467